# SBT
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# Scala
*.class
*.log

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Other common files and directories
tags
.*.swp
.*.swo
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
.DS_Store